<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1 align="Center">Feedback</h1>
    <form action="" method="post" name="feedback">
        {{ form.hidden_tag() }}
        <ol>
        <p>
            <li>PNR NUMBER : {{ form.pnr(size=80) }}
            {% for error in form.pnr.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</li>
        </p>
        <p>
            <li>NAME : {{ form.name(size=80) }}
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</li>
        </p>
	<p><li>How would you rate the overall quality of food : 
        {{ form.radio_food }}</li></p>
        <p><li>How would you rate the overall sanitory conditions : 
        {{ form.radio_sanitation }}</li></p>
        <p><li>How would you rate the overall journey : 
        {{ form.radio_journey }}</li></p>
	<p><li> Any suggestions you would like to give : </li></ol>
        <br>
        {{ form.feedback(size=300) }}</p>
        <p><input type="submit" value="Submit"></p>
    </form>
{% endblock %}

